@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@layer base {
  button {
    @apply cursor-pointer;
  }

  @layer base {

    input:not([type="checkbox"]),
    textarea {
      @apply w-full rounded-lg border border-slate-300 px-3 py-2 text-slate-800 outline-none transition focus:border-blue-500 focus:ring-2 focus:ring-blue-500/30;
    }
  }
}